<!--
Student Name: Bal Krishna Dhakal
Student ID: 300916314
Description: COMP308-W2019-Assignment2
Date Created: February 16, 2019
Link to GitHub: https://github.com/BalKrishnaDhakal/COMP308-W2019-Assignment2
-->

<!-- To include header from partial folder-->

<!-- Page Content -->
<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-sm-3 col-md-6 col-lg-4">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/images/myphoto.jpg" alt="Bal Dhakal's photo">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-sm-9 col-md-6 col-lg-8">
            <h2 class="font-weight-light">Bal Krishna Dhakal</h2>
            <p>I am an innovative software developer.I hold software enginnering advance diploma from Centennial college. I have hands on experience of programming with Java, C#, JavaScript. Currently, I am working as a QA Analyst in ministray of Health
                and Long-Term care.
            </p>

            <!--<a class="btn btn-primary" routerLink='assets/resume.pdf'>View My Resume</a> -->
            <a id="submit" class="btn btn-primary" href="/assets/resume.pdf">View My Resume</a>

        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body">

            <blockquote>

                <q>Great minds discuss ideas; average minds discuss events; small minds discuss people.</q>
                <footer>Eleanor Roosevelt</footer>
            </blockquote>

        </div>
    </div>
    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">My Education</h2>
                    <p class="card-text">I hold software engineering advanced diploma. In addition I also hold masters degree in mathematics and statistics.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">My Experiences</h2>
                    <p class="card-text">
                        Currently, Working as Quality Assurance Analyst in Ontario Ministray of Health and Long-Term Care. I also have experience of working as Business Analyst.
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Trainings</h2>
                    <p class="card-text">I have training in Scrum Fundamental, Selenium Automation testing, Oracle 12C, PL/SQL</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->