
<nav class="navbar fixed-bottom  navbar-light bg-dark">
       <h6 class="m-0 text-center text-white">Copyright &copy; Bal Dhakal | COMP308-W2019 | Centennial College</h6>
  </nav>
<!-- JavaScript Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>