<header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Bal Dhakal's Portfolio...</h1>
      <p class="lead">He is an innovative software developer</p>
    </div>
  </header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>HELLO, this is Bal </h2>
          <p class="lead">He is an innovative software developer and QA analyst. He holds advanced diploma in Software Engineering Technology.
          In addition he holds Masters Degree in Mathematics and Statistics.
          </p>
         
          <hr class="hr-success" />
            
             <p>
                Bal has hands on experience in programming with Java, C#, JavaScript. He also has practicle knowledge of web application
                with MEAN. In addition, he posses excellent understanding of software development life cycles, quality assurance  and business analysis activities
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a >
        </p>
        </div>
      </div>
    </div>