/* Custom CSS goes here.. */

section {
    padding: 150px 0;
}

img {
    height: 100px;
    width: auto;
    padding: 10px;
    margin-left: 0;
    border-image-outset: 0rem;
    opacity: 1;
}

.container {
    padding-bottom: 50px;
}