<!-- Page Content -->
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">I have involved in different projects some of them are individual and some of them are group-work.</p>
        <a href="/contact" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">

                <img class="card-img-top" src="assets/images/cart.PNG" alt="Cart image">

                <div class="card-body">
                    <h4 class="card-title">ECommerse App</h4>
                    <p class="card-text">Online Book Store: using ASP.NET Controls, Bootstrap, CSS, MS SQL, visual studio</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/csharp.png" alt="cSharp image">
                <div class="card-body">
                    <h4 class="card-title">BMI Calculator</h4>
                    <p class="card-text">BMI Calculator: used programming language C#, and visual studio as a tool</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/system.png" alt="system image">
                <div class="card-body">
                    <h4 class="card-title">SDLC</h4>
                    <p class="card-text">2-SDLC Projects: Toronto Childcare Information System & Online Retail Store System Tools: MS Visio, Visual Paradigm, MS Access</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/web.png" alt="web design image">
                <div class="card-body">
                    <h4 class="card-title">Photo Gallery</h4>
                    <p class="card-text">Photo Gallery app using JavaScript, HTML, CSS and visual studio IDE</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/bug.PNG" alt="bug game image">
                <div class="card-body">
                    <h4 class="card-title">Canvas Game</h4>
                    <p class="card-text">Bug Smasher Game: simple JavaScript game using HTML, JavaScript, jQuery, CSS, visual studio</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/calendar.png" alt="calendar image">
                <div class="card-body">
                    <h4 class="card-title">Calendar App</h4>
                    <p class="card-text">A real time dynamic calender app using Java, eclipse ide</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/agile.png" alt="agile image">
                <div class="card-body">
                    <h4 class="card-title">IT Project Management</h4>
                    <p class="card-text">Walking Clinic IT Project applying the priciple of IT Project Management</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="assets/images/web.png" alt="web image">
                <div class="card-body">
                    <h4 class="card-title">Registration Form</h4>
                    <p class="card-text">Club Membership Registration Form Validation, Tools used: JavaScript, HTML & CSS, Visual Studio</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>



<!-- /.container -->