/*
Student Name: Bal Krishna Dhakal
Student ID: 300916314
Description: COMP308-W2019-Assignment2
Date Created: March 30, 2019
Link to GitHub: https://github.com/BalKrishnaDhakal/COMP308-W2019-Assignment2
Link tto Heroku: https://comp308-w2019-assignment2-bal.herokuapp.com/home
Reference: Prof. Tom Tsiliopoulos's Class Demo
*/


/* Custom CSS for projects-components goes here.. */

section {
    padding: 150px 0;
}

img {
    height: 100px;
    width: auto;
    padding: 10px;
    margin-left: 0;
    border-image-outset: 0rem;
    opacity: 1;
}

.container {
    padding-bottom: 50px;
}