<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome to My Service Page</div>

            <a id="btnMoreService" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
    </div>
</header>


<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Services</h2>

                <h3 class="section-subheading text-muted">Services includes software development, quality assurance and web application.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
          <img class="card-img-top" src="assets/images/android.png" alt="">
        </span>
                <h4 class="service-heading">Programmning</h4>
                <p class="text-muted">Programming language includes C#, Java, JavaScripts and android application</p>
                <a href="#" class="btn btn-primary">View More!</a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
          <img class="card-img-top" src="assets/images/selenium.PNG" alt="">
        </span>
                <h4 class="service-heading">Software Quality Assurance</h4>
                <p class="text-muted">Software testing with manual and automation using tools -selenium, Jira and TestRail </p>
                <a href="#" class="btn btn-primary">View More!</a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
          <img class="card-img-top" src="assets/images/mean.PNG" alt="">
        </span>
                <h4 class="service-heading">Web Application Development</h4>
                <p class="text-muted">Web app developmet using MEAN, ASP.Net bootstrap, HTML5 and CSS3</p>
                <a href="#" class="btn btn-primary">View More!</a>
            </div>
        </div>
    </div>
</section>