<main class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4"></div>

        <div class="col-md-offset-4 col-md-4">
            <div class="card" style="background-color:#EAECEE">
                <div class="card-header">
                    <br>
                    <h1>Please Register</h1>
                </div>
                <div class="card-body">
                    <form autocomplete="off" (submit)="onRegisterSubmit()">
                        <fieldset class="form-group">
                            <label for="username"><strong> Username: </strong></label>
                            <input type="text" class="form-control" [(ngModel)]="user.username" name="username" placeholder="Enter Username" id="username" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="password"><strong> Password:</strong></label>
                            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Enter Password" id="password" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="email"><strong> Email:</strong></label>
                            <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Enter Email" id="email" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="displayName"><strong> Dispaly Name:</strong></label>
                            <input type="text" class="form-control" [(ngModel)]="user.displayName" name="displayName" placeholder="Enter Display Name" id="displayName" required autocomplete="off">
                        </fieldset>
                        <fieldset class="form-group text-center">
                            <input type="submit" class="btn btn-primary" value="Register">
                            <a routerLink="/home"> &nbsp;
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-offset-4 col-md-4"></div>
        </div>

    </div>